:root{
    --shadow-low: #0000002d;
    --shadow-mid: #0000005e;
    --background: #a8fce0;
    --accent: #35ff90;
    --accent2: #daff35;
    --active: #aeffd3;
    --input-bg: #414141;
    --container-bg: #252525;
}

@font-face {
    font-family: Minecraft;
    src: url('../static/resources/Minecraft.ttf');
}
body,html,#wrapper{
    font-family: Minecraft;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
input{
    font-family: Minecraft;
    transition: .2s box-shadow, .2s text-shadow,background-color .2s;
}
img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.text-input{
    /* border-radius: .5rem; */
    background-color: var(--input-bg);
    border: none;
    color: var(--accent);
    padding: 5px;
}
input[type="submit"],#cookies input, input[type="button"]{
    background-color: var(--accent);
    padding: 2px 20px;
    border: none;
    /* border-radius: .5rem; */
    text-transform: capitalize;
    line-height: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
}
input[type="button"]:hover{
    box-shadow: 5px 5px var(--shadow-mid) !important;
}
input[type="submit"]:hover,input[type="button"]:hover{
    text-shadow: 3px 3px var(--shadow-low);
    background-color: var(--active) !important;

}
footer{
    position: fixed;
    bottom: 0px;
    background-color:var(--accent);
    width: 100vw;
    text-align: center;
    padding: 5px 0;
}
.link{
    color: var(--accent);
    cursor: pointer;
    text-decoration: underline;
    transition: color .1s;
}
.link:hover{
    color: var(--active)
}